<div class="row">
    <div class="col">
        <h1><%= title %></h1>
        <p>CRUD de test com Nodejs e Mongodb</p>

        <hr>

        <p><a href="/contact" class='btn btn-primary'>CRUD</a></p>
    </div>
</div>